{% extends "base.html" %}
{% block content %}

    {% for number in list_of_numbers %}
        <p>{{ number }}</p>
    {% endfor %}
    
    <h2>{{ page_title }}</h2>
    <p>
        Thorin II was born in TA 2746 to the Dwarf prince Thráin II in the city of the Lonely Mountain. Early in his youth,
        Thorin and the other Dwarves of the Lonely Mountain were forced to flee by the dragon Smaug, in TA 2770. While in
        exile, he quickly grew to into a capable warrior. This was demonstrated at the Battle of Azanulbizar, near Moria, in
        TA 2799. He fought with one of the Dwarven armies beneath Moria's East-gate, and at some point in the battle, his
        shield broke, and, using an oaken tree branch found on the ground as a shield, he gained the epithet "Oakenshield,"
        which remained with him even in death.
    </p>

    <div class="row featurette">
        <div class="col-md-7">
            <h3>Thorin Oakenshield</h3>
            <p>
                Thorin II was born in TA 2746 to the Dwarf prince Thráin II in the city of the Lonely Mountain. Early in his youth,
                Thorin and the other Dwarves of the Lonely Mountain were forced to flee by the dragon Smaug, in TA 2770. While in
                exile, he quickly grew to into a capable warrior. This was demonstrated at the Battle of Azanulbizar, near Moria, in
                TA 2799. He fought with one of the Dwarven armies beneath Moria's East-gate, and at some point in the battle, his
                shield broke, and, using an oaken tree branch found on the ground as a shield, he gained the epithet "Oakenshield,"
                which remained with him even in death.
            </p>
        </div>
        <div class="col-md-5">
            <img src="https://static.wikia.nocookie.net/lotr/images/3/3f/ThorinBIG.jpg" alt="">
        </div>
    </div>
    <div class="row featurette">
        <div class="col-md-5">
            <img src="https://static.wikia.nocookie.net/lotr/images/5/56/Young_Thorin.png/" alt="">
        </div>
        <div class="col-md-7">
            <h3>Fili and Kili</h3>
            <p>
                The Dwarves, Bilbo, and Gandalf encountered many dangers on their journey to the Lonely Mountain, surviving Trolls,
                Orcs, Wargs, and Spiders. He found the legendary sword Orcrist in a troll-hoard, along with Glamdring.[4] In
                Rivendell, the Company rested and Elrond translated the Moon-letters on Thrór's Map.[5] During their journey through
                Mirkwood, Thorin and his Company encountered spiders and were later imprisoned by the Elvenking Thranduil.[6] They
                escaped in barrels and traveled down to Lake-town.
            </p>
        </div>
    </div>
    
{% endblock %}